.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-top: 30px;
    background: #f8f4e4;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
  }